.DankU
  width: 100%
  min-height: calc(100vh - 64px)
  background-color: #193388
  color: white
  background-image: url("/assets/img/meme/background.png")
  background-size: cover
  text-shadow: 2px 2px 4px black
  overflow-x: hidden
  .impact, h1
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    text-transform: uppercase
  .impact
    font-size: 2rem
  h1
    font-size: 4rem
