.NewGame
  img.logo 
    min-width: 100px
    width: 30vw
    max-width: 200px
    margin-top: 14px
    cursor: pointer
  img.thumbnail
    margin: 22px 0 20px
    border-radius: 32px
    width: 80vw
    max-width: 440px
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25)
  .description
    width: 85vw
    max-width: 500px
    margin-bottom: 20px
    font-size: 14pt
  form
    margin-bottom: 36px
  input
    font-size: 2.5rem
    text-align: center
    width: 280px
    &[type="submit"]
      font-size: 1.75rem
      cursor: pointer
      padding: 0.25em
  .checkbox-container
    margin-top: 24px
    margin-bottom: 24px
  .error
    height: 28px
    line-height: 28px