.top-banner
  z-index: 0
  align-items: center
  height: 320px
  background-color: #091588
  background-image: radial-gradient(lighten(#091588, 15%), darken(#091588, 15%))
  color: white
  font-size: 2rem
  line-height: 2
  input
    font-size: 2rem
    width: 120px
    text-transform: uppercase
    text-align: center