h1
  font-size: 2rem
  padding-top: 0.5em
  padding-bottom: .25em
  margin: 0
  font-weight: 400
  width: 100%
  text-align: center
.top-banner
  z-index: 0
  align-items: center
  height: 320px
  form 
    max-width: 70vw
    flex-wrap: wrap
  input
    font-size: 2rem
    text-align: center
    &.input-name
      width: 170px
    &.input-code
      width: 110px
    &[type="submit"]
      width: 60px
      cursor: pointer
  .error
    height: 28px
    line-height: 28px
.thumbnails
  flex-wrap: wrap
  max-width: 90vw
  padding-bottom: 36px
  *
    color: #333333
    text-decoration: none
  .game-card
    max-width: 95vw
    width: 380px
    padding: 0 40px 10px
    img.thumbnail
      border-radius: 24px
      width: 100%
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25)
      transition: transform 300ms
    &:hover img.thumbnail
      transform: scale(1.05)
    div.description
      max-width: 100%
    .game-stats
      margin-bottom: 4px
      font-size: 13pt
      min-height: 24px
      > div
        padding: 3px 12px
        i 
          padding-right: 4px
